<header-section></header-section>
<!--Conteudo do Site-->
<!--Cada de componente tem um emissor de evento para que o componente pai sabia mudar de estado
    Tentei copiar o estilo de nomes seguindo a documentação do Angular-->
<button-bar class="nav-buttons"  (emitterFormOpen)="updateValueCadastro($event)" (emitterTableState)="updateValueTabela($event)"></button-bar><br>
<div class="background-content-div">
    <div class="content-inside-div">
        <sign-up-form *ngIf='cadastroVisivel' (emitterFormClose)="updateValueCadastro($event)" (emitterFormOpen)="updateValueCadastro($event)" (emitterTableOpen)="updateValueTabela($event)"></sign-up-form>
        <table-list *ngIf='tabelaVisivel' (emitterTableState)="updateValueTabela($event)"></table-list>  
        <articles-section></articles-section>
    </div>
</div>