
.background-content-div{
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px;
    margin: 10px 125px 0px 125px
}

.nav-buttons{
    margin: 100px 100px 100px 125px;
}

.content-inside-div{
    margin: 0px 25px;
    padding: 0px 0px 0px 0px;
}