<!--Tabela usando o material disponibilizado pelo angular
    Documentação: https://material.angular.io/components/table/overview-->
<div style="padding-top: 5px;padding-bottom: 5px;">
    <hr style="width:100%;text-align:center;margin-left:0">
    <hr style=" margin-right: 2%; margin-left: 2%;text-align:center;">
</div>
<h1>Tabela de Cadastro</h1>
<table mat-table style="width: 100%;" [dataSource]="userProfileService.userProfiles" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-Mail </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>
    
    <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let user"> {{user.telefone}} </td>
    </ng-container>
    
    <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> Endereço </th>
        <td mat-cell *matCellDef="let user"> {{user.endereco}} </td>
    </ng-container>
    
    <ng-container matColumnDef="idade">
        <th mat-header-cell *matHeaderCellDef> Idade </th>
        <td mat-cell *matCellDef="let user"> {{user.idade}} </td>
    </ng-container>
    
    <ng-container matColumnDef="preferencia">
        <th mat-header-cell *matHeaderCellDef> Preferência </th>
        <td mat-cell [ngClass] = "getClassOfUserPref(userProfileService)" *matCellDef="let user"> {{user.preferencia}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name','email','telefone','endereco','idade','preferencia']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name','email','telefone','endereco','idade','preferencia'];"></tr>

</table><br>
<button mat-raised-button (click)="functionToCloseTableList()">Fechar tabela</button>