<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Idade</th>
            <th>Preferencia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td [innerHtml]="userProfileService.nome"></td>
            <td [innerHtml]="userProfileService.email"></td>
            <td [innerHtml]="userProfileService.telefone"></td>
            <td [innerHtml]="userProfileService.endereco"></td>
            <td [innerHtml]="userProfileService.idade"></td>
            <td [innerHtml] ="userProfileService.preferencia" [ngClass] = "getClassOfUserPref(userProfileService)"></td>
        </tr>
    </tbody>
</table>