.pref-csharp{
    color:purple
}

.pref-cplusplus{
    color:rgb(16, 16, 131)
}

.pref-c{
    color:rgb(34, 125, 177)
}

.pref-python{
    color: orange;
}

.pref-php{
    color: aquamarine;
}

.pref-html{
    color: rgb(134, 74, 1)
}

.pref-javascript{
    color:rgb(177, 177, 5)
}

.pref-ruby{
    color: darkred
}

.pref-r{
    color: darkslateblue
}

.pref-lisp{
    color: rgb(8, 68, 11)
}

.pref-java{
    color:crimson
}