/* O codigo abaixo serve para tirar as setas para aumentar ou diminuir o numero
   É uma escolha pessoal, eu não achei que estava legal */

   input[type=number] {
    -moz-appearance: textfield;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.forma{
  width: 330px;
}

.but-class:hover {
  background-color: gray;
}